.main {
  display: grid;
  place-items: center;
  background-color: #222;
  width: 100vw;
  min-height: 100vh;
}
      
.btn {
  background-color: #eee;
  color:#222;
  font-weight: 500;
  border-radius: 16px;
  height: fit-content;
  padding: .8rem 1.6rem;
  transition: 300ms ease-out;
}
      
.btn:hover {
  background-color: #333;
}

.data {
  color: #eee;
  text-align: center;
  width: 50%;
}
